<div *ngIf="currentLembrete" class="edit-form">
    <h4 class="escrito">Lembrete</h4>
    <form>
        <div class="form-group">
            <label for="lembrete"></label>
            <input type="text" class="form-control" id="lembrete" [(ngModel)]="currentLembrete.lembrete"
                name="lembrete" />
        </div>
    </form>
    <button mat-raised-button color="warn" (click)="deleteLembrete()">
        Deletar
    </button>

    <button mat-raised-button color="accent" type="submit" (click)="updateLembrete()">
        Atualizar
    </button>
    <p>{{ message }}</p>
</div>

<div *ngIf="!currentLembrete">
    <br />
    <p>Não é possivel acessar este Lembrete...</p>
</div>