<div class="list row">
    <div class="col-md-6">
        <h4 class="escrito">Lista de Lembretes</h4>
        <ul class="list-group">
            <li class="list-group-item list-group-item-action list-group-item-dark"
                *ngFor="let lembrete of lembretes; let i = index" [class.active]="i == currentIndex"
                (click)="setActiveLembrete(lembrete, i)">
                {{ lembrete.lembrete }} <br> Data: {{ lembrete.dataLemb.toDate() | date:'dd/MM/yyyy'}}
            </li>
        </ul>

    </div>
    <div class="col-md-6">
        <div *ngIf="currentLembrete">
            <app-detalhes-lembretes (refreshList)="refreshList()" [lembrete]="currentLembrete">
            </app-detalhes-lembretes>
        </div>
    </div>
</div>