<div class="submit-form">
    <div>
        <div class="form-group">


            <mat-form-field appearance="fill" class="lembrete">
                <mat-label>Digite o seu lembrete:</mat-label>
                <input matInput type="text" color="accent" class="formControl" placeholder="Lembrete" required
                    [(ngModel)]="lembrete.lembrete">
            </mat-form-field>

        </div>

        <div class="form-group">

            <mat-form-field color="accent" appearance="fill">
                <mat-label>Escolha a data:</mat-label>
                <input matInput class="formControl" required [(ngModel)]="lembrete.dataLemb" [matDatepicker]="picker1">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
        </div>

        <button mat-raised-button color="accent" (click)="salvarLembrete()" routerLink="/lembretes">Salvar</button>
    </div>
</div>